@model List<ShoeStockViewModel>
@{
    ViewData["Title"] = "Shoes List";
}
<div class="row mb-2">
    <div class="col-8">
        @if (Model.Count() > 0)
        {
            <h5 class="mb-2">Zapatillas disponibles | Talle: @Model.FirstOrDefault().SizeNumber</h5>
            <h6>Cantidad: @Model.Count()</h6>
        }
        else
        {
            <h5>No hay zapatillas agregadas del talle seleccionado. ¿Desea agregar una?</h5>
            <div class="d-flex mt-4">
                <a asp-controller="Shoes" asp-action="Index" class="btn btn-outline-primary w-25 me-2"> Si </a>
                <a asp-controller="Sizes" asp-action="Index" class="btn btn-outline-secondary w-25"> No, volver atrás </a>
            </div>
        }
    </div>
</div>
@if (Model.Count() > 0)
{
    <Table class="table table-bordered table-hover w-100">
        <thead>
            <tr>
                <th class="w-25">
                    Modelo
                </th>
                <th class="w-25">
                    Marca
                </th>
                <th style="width: auto;">
                    Deporte
                </th>
                <th style="width: auto;">
                    Precio
                </th>
                <th style="width: auto;">
                    Stock
                </th>
                <th style="width: auto;">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Model</td>
                        <td>@item.BrandName</td>
                        <td>@item.SportName</td>
                        <td>$@item.Price</td>
                        <td>@item.QuantityInStock</td>
                        <td>
                            <a asp-controller="Sizes" asp-action="MoreDetails" asp-route-shoeId="@item.ShoeId" asp-route-sizeId="@item.SizeId" asp-route-stock="@item.QuantityInStock" class="btn btn-outline-dark me-2">
                                Ver mas
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </Table>
    <a asp-controller="Sizes" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage ?? 1)" class="btn btn-outline-secondary w-25 mt-1"> Volver atrás </a>

}
